@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500;1,900&display=swap');
   
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');   

*{
        margin: 0;
        padding: 0;
        box-sizing: border-box ;
    }

    body{
        font-family: 'Roboto', sans-serif;
    }

    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center; 
        background: #fff;
        color: #05386B;
        position: sticky;
        top: 0;
        padding: 1rem;
        overflow: hidden;
        border-bottom: 1px dashed #ddd;
    }

    .navbar h1{
        margin-left: 10px;
    }

    .navbar ul{
        display: flex;
        padding: 1rem;
        list-style-type: none;  
        color: #fff;
    }

    .navbar ul li a{
        text-decoration: none;
        padding: 0.55rem;
        color: #1b1b1b;
        font-weight: bold;
        text-transform: uppercase;
    }

    .book{
        margin: 15px; 
        padding: 3px;
        background: rgb(243, 243, 243);
        border-radius: 1px;
    }
    .book a{
        text-decoration: none;
        padding:1rem 1rem;
        font-size: 15px;
        color: #05386B;
    }

  .current{
        color: #000;
        border-bottom: 2px solid #FF993C;;
    }

    .content{
        background-color: #333;
        background: url('../img/home.jpg') no-repeat center center/cover;
        height: 85vh;
        padding: 1rem;
        background: rgba(0,0,0,0,0.5);
        }
.content .content-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    color: #fff;
    z-index: 1;
    font-size: 28px;
    font-weight: bolder;
}

.content .content-head p{
    font-size: 16px;
}

#content-2{
    background: #fff;
}

.all-contents{
    margin-top: 10px;
    padding: 10px;
    background: #fff;
}

.card-head{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;

}

.card-head P{
    padding: 0.55rem;
    margin-top: 1rem;
    font-size: 35px;
    font-weight: bold;
}

.card-content{
    background: rgb(240, 239, 239);
    padding: 1.5rem;
    background: #F4F6F7;
    display: grid;
    grid-template-columns: repeat(5,2fr);
    gap: 1rem;
}

.card-content .card,
.card-content .card-1,
.card-content .card-2,
.card-content .card-3,
.card-content .card-4{
    background: #fff;
    height: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.comments{
    background: rgb(252, 250, 250);
    padding: 1.5rem;
}

.comments .comments-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.comments .comments-head h4{
    color: #05386B;
}

.comments .comments-head  p{
    font-size: 26px;
    margin-top: 1rem;
    font-weight: bold;
}
.person img{
    display: flex;
    justify-content: center;
    height: 100px;
    width: 50px;
}


.icon{
    display: flex;
    justify-content: center;
    margin: 15px;
}
.icon img{
    height: 200px;
    border-radius: 50%;
}

.icon-1{
    display: flex;
    justify-content: center;
    margin: 15px;
}
.icon-1 .fas{
    padding: 0.55rem;
}

.para{
    padding: 2rems;
    text-align:center;
    font-weight:200;
}
.guest{
    color: #FF993C;
}

.footer{
    background: #232323;
    color: #fff;
    text-align: center;
}

.social-media{
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.social-media .fab{
    padding: 0.5rem;
}

.copy{
    padding: 1rem;
}


/* contact */

.contact{
    background-color: #333;
    background: url('../img/contact.jpg') no-repeat center center/cover;
    height: 85vh;
    padding: 1rem;
    background: rgba(0,0,0,0,0.5);
    }
.contact .contact-head{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 85vh;
color: #fff;
z-index: 1;
font-size: 28px;
font-weight: bolder;
}


.contact-form{
    max-width: 800px;
    margin:25px;
    margin-left: 300px;
    background: rgb(250, 247, 247);
    padding: 1.5rem;
    border-radius: 5px;
}


.form-head h1{
    text-align: center;
    margin-top: 10px;
    padding: 1rem;
    text-transform: uppercase;
    color: #ddd;
    border-bottom:1px solid #bbb ;
}

.info label{
    display: block;
    padding: 1rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: rgb(31, 30, 30);
    font-weight: bold;
}

.info input[type='text'],
.info input[type='email']{
    border: none;
    width: 80%;
    background:  rgb(250, 247, 247);
    padding: 1.2rem;
    border-bottom: 1px solid rgb(44, 44, 44);
}
.info textarea{
    border: none;
    width: 80%;
    background:  rgb(250, 247, 247);
    padding: 1.2rem;
    border-bottom: 1px solid rgb(44, 44, 44);
}

button{
    display: block;
    width: 35%;
    margin: 15px auto ;
    padding: 10px;
    border: none;
    background: #0984ff;
    border-radius: 6px;
    color: #fff;
    font-size: 1.1rem;
    
}

/* SERVICE */
#service{
    margin: 40px 30px;
    padding: 1rem;
    background: #fff;
    color: #000;
}

#service h1{
    margin: 15px;
    text-transform: uppercase;
    color: #0984ff;
    font-size: 40px;
}

#service .service-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    background: #fff;
    margin: 15px;
}

#service .service-card{
    background: rgb(255, 254, 254);
    padding: 0.55rem;
    border-radius: 5px;
    width: 90%;

}
#service .service-card:hover{
    box-shadow: 5px 5px 5px 5px #ddd
}

.service-card img{
    width: 300px;
    display: flex;
    border-radius: 10px;
    cursor: pointer;
}

.service-card h4{
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    color: #0984ff;
    font-weight: bold;
}


/* booking */
#book-resort{
    background: #fff;
    padding: 1.5rem;
}

.booking-container{
    background: #fff;
    margin: 10px 15px;
    padding: 1rem;
    background: rgb(252, 252, 252);
    max-width: 900px;
}

.b-head{ 
    text-align: center;
    color: rgb(182, 176, 176);
    padding: 1.5rem;
    font-size: 25px;
    border-bottom: 1px solid #eee;
}

#book-resort label{
    display: block;
    font-size: 20px;
    color: #05386B;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1rem;
}
#book-resort input[type='text'],
#book-resort input[type='email'],
#book-resort input[type='number'],
#book-resort input[type='date']{
    width: 80%;
    padding: 8px;
}

#book-resort select{
    width: 80%;
    padding: 8px;
}

/* about */

#about{
    background: #fff;
    margin: 20px;
    padding: 1rem;
}

#about .about-container{
    margin: 40px;
    padding: 1.5rem;
}

#about .image img{
    width: 100%;
}

.about-content{
    text-align: center;
    margin-top: 10px;
    padding: 0.80rem;
}

.about-content h1{
    padding: 1.5rem;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 30px;
    color: #05386B;
    border-bottom: 1px solid #ddd;
}

.about-content p{
    line-height: 2;
    font-size: 20px;
    color: #bbb;
}